.profile__bg {
  background: url(../assets/images/cover-profile.3fb9fed576da4b28386a.png) top/cover no-repeat;
  position: relative;
  padding-top: 22%;
  border-radius: 16px;
}

.profile__user {
  align-items: flex-end;
  bottom: -70px;
  display: flex;
  left: 40px;
  position: absolute;
  z-index: 1;
}

.img__profile img {
  align-items: center;
  border-radius: 50%;
  border: 10px solid #fff;
  display: flex;
  height: 172px;
  justify-content: center;
  width: 172px;
  object-fit: cover;
}

.name__user {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 16px;
  margin-left: 16px;
  text-align: center;
}
